body{
    margin: 0px;

}

.listTypeNone{
    list-style-type: none;
}

#mainContainer{
    width: 991px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-image: url('../assets/ui/container.png');
}

#gameContainer{
    width: 900px;
    margin: 0px;
    height: 650px;
    padding-top: 36px;
    margin-left: 40px;
}

#canvasContainer{
    width: 900px;
    position:relative;

}

#canvas{
    background-color: green;
    width: 900px;
    height: 600px;
    float: left;
    clear: right;
}

#playerAnnouncements{
    position: relative;
    margin-top: -25px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    float: left;
    clear: both;
    overflow-x:hidden;
    overflow-y:auto;
}

#playerAnnouncementList{
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
    list-style-type: none;
    float:left;
}

.playerAnnouncement, .debugbar{
    height: 25px;
    float: left;
    display: inline-block;
    width: 900px;
}

#statsAndInventoryBar{
    background-image: url('../assets/ui/uibarbackground.png');
    float: left;

    width: 900px;
    height: 50px;
}

.statsBar{
    float: left;

    width: 150px;
    height: 50px;
    color:;
}
#healthBar{
    background-image: url('../assets/ui/health_bar.png');
}

#waterBar{
    background-image: url('../assets/ui/thirst_bar.png');
}

#foodBar{
    background-image: url('../assets/ui/hunger_bar.png');
}

#staminaBar{
    background-image: url('../assets/ui/stamina_bar.png');
}

#inventoryBar{
    float: left;
    clear: right;
    width: 300px;
    background-image: url('../assets/ui/inventory_bar.png');
}

#inventorySlots{
    margin: 0px;
    padding: 0px;
    height: 50px;
    float: left;
    clear: right;
}

#inventorySlots li{
    display: block;
    list-style-type: none;
    width: 50px;
    height: 50px;
    float: left;
    padding: 0px;
    margin: 0px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    background-repeat:no-repeat;
    background-position:center; 
}


/**WARNING, DIRTY CSS BELOW**/

#actionmenu, #inventoryactionmenu{
    position: absolute;
    margin:0px;
    z-index:120;
    top:200px;
    left:100px;
    width:140px;
    background: rgba(216, 177, 100, 0.5);
    font-size: 12px;
    text-shadow: 1px 1px 1px black;
}
#inventoryactionmenu{
    top:50px;
}


#actionmenu ul li.selected, #inventoryactionmenu ul li.selected{
    background-color: red;
}