body{
	margin: 0px;

}

*{padding:0px; margin:0px;}

#containerbox{
	width: 900px;
	height: 600px;
	position: relative;
	z-index: 1;
	margin: 0px;
	border: 0px;
}

#container{
	margin: 0px !important;
	border: 0px ;
	padding: 0px;
}

#uibar{
	margin: 0px;
	padding: 0px;
	float: left;
	height: 35px;
	background-color: rgb(131, 131, 131);
	width: 100%;
	position: absolute;
	z-index: 99;
	top:600px;
}

#inventory{
	margin:0px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: gray;
}

#inventorymenu{
	position: absolute;
	margin:0px;
	height:45px;
	width:100%;
	z-index:100;
	top:600px;
	float: left;
	background-color: green;
}

#inventorymenu ul{
	padding-left: 0;
	margin-left: 0;
	float: left;
	width: 100%;
}

#inventorymenu ul#inventoryImages li{
	background: #CCC;
	list-style-type: none;
	float:left;
	padding:1px;
	margin: 5px 2px 5px 2px;
	width: 30px;
	height: 30px;
	text-align:center;
	border:1px solid #CCC;
}

#inventorymenu ul li.selected{
	border:1px solid red;
}


#actionmenu{
	position: absolute;
	margin:0px;
	z-index:120;
	top:200px;
	left:100px;
	width:140px;
	background: rgba(216, 177, 100, 0.5);
	font-size: 12px;
	text-shadow: 1px 1px 1px black;
}

#actionmenu ul {
	list-style-type: none;
}

#actionmenu ul li{
}

#actionmenu ul li.selected{
	background-color: red;
}




#debugbar{
	padding-top: 5px;
	
	text-align: center;
	text-shadow: 1px 1px 1px black;
	color: white;
	width: 900px;
	margin: 0px;
	font-size: 12px;
	position: absolute;
	z-index:99;
	background: rgba(51,204,255,0.5);
	height:30px;

}

#inventoryActionsMenu{
	position: absolute;
	margin:0px;
	z-index:120;
	top:200px;
	left:100px;
	width:140px;
	background: rgba(216, 177, 100, 0.5);
	font-size: 12px;
	text-shadow: 1px 1px 1px black;
}
