

html {
    background: url('../assets/ui/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    margin: 0px;
    background: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.listTypeNone{
    list-style-type: none;
}

.mainContainer{
    width: 991px;
    height: 724px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-image: url('../assets/ui/container.png');
}

.gameContainer{
    width: 900px;
    margin: 0px;
    height: 650px;
    padding-top: 36px;
    margin-left: 40px;
}

/* --------------------------------------------------*/
/* ------------------ LOBBY -------------------------*/
/* --------------------------------------------------*/

#lobby{
    width:1580px;
    margin: 0px auto;
}

#lobbytitle{
    width:100%;
    height:127px;
    float:left;
    background-image:url('../assets/ui/lobby-title.png');
    background-repeat:no-repeat;
    background-position:center; 
}

#torchleft{
    float:left;
    width:290px;
    height:485px;
    background-image: url('../assets/ui/left-torch.png');
    background-position: 35px 0px;
    background-repeat:no-repeat;
}

#roomcontainer{
    float:left;
    width: 991px;
    height: 724px;
    margin: 0px !important;
    background-image: url('../assets/ui/container.png');
    background-repeat:no-repeat;
}

#roomlist{
    height: 650px;
    padding-top: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    font-size: 20px;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    z-index: 999;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}

.bordered tbody tr:nth-child(even) td, .bordered tbody tr.even td{
    background: none;
}
.bordered {        
    margin-top:20px;
}
.bordered tr{
    background: none;
    color: white;
    text-shadow: 0 1px 1px #ccc ;
}

.bordered thead th{
    background: none;
    font-size: 30px;
}

.bordered thead tr:hover{
    background:none !important;
}
.bordered tr:hover {
    background: #fbf8e9;
    color: black;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    padding: 10px;
    text-align: center;    
}

.bordered th {
    background-color: none;    
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
    color:black;
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}


#torchright{
    float:left;
    width:290px;
    height:485px;
    background-image: url('../assets/ui/right-torch.png');
    background-position: -35px 0px;
    background-repeat:no-repeat;
}


#canvasContainer{
    width: 900px;
    position:relative;

}

#textEffects{
    width:900px;
    height:600px;
    position:absolute;
    z-index:200;
    background: rgba(216, 177, 100, 0.5);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#canvas{
    width: 900px;
    height: 600px;
    float: left;
    clear: right;
}

#playerAnnouncements{
    position: relative;
    margin-top: -25px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    float: left;
    clear: both;
    overflow-x:hidden;
    overflow-y:auto;
}

#playerAnnouncementList{
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
    list-style-type: none;
    float:left;
}

.playerAnnouncement, .debugbar{
    height: 25px;
    float: left;
    display: inline-block;
    width: 900px;
}

#statsAndInventoryBar{
    background-image: url('../assets/ui/uibarbackground.png');
    float: left;

    width: 900px;
    height: 50px;
}



/*Styles all the contaienrs in which the moving bars reside */
.fluidcontainer{

}

/* Styles the large box that has everything to do with the bar */
.statsBarContainer{
    float: left;
    width: 150px;
    height: 50px;
}

#healthBarContainer{
    background-image: url('../assets/ui/health_bar.png');
}
#thirstBarContainer{
    background-image: url('../assets/ui/thirst_bar.png');
}
#hungerBarContainer{
    background-image: url('../assets/ui/hunger_bar.png');
}
#staminaBarContainer{
    background-image: url('../assets/ui/stamina_bar.png');
}

/* Styles a general bar backgrounds */
.statsBarBackground{
    margin-left:15px;
    margin-top:30px;
    float:left;
    width:120px;
    background-image: url('../assets/ui/stats-bar-bg.png');
    background-repeat:repeat-x;
    height:11px;
}

.statsBar{
    height:11px;
    width: 30%;
    float: left;
    background-repeat:repeat-x;
}

/* Styles a specific stat bar (the thing that changes) */
#healthBar{
    background-image: url('../assets/ui/health-bar-fill.png');
}

#thirstBar{
    background-image: url('../assets/ui/thirst-bar-fill.png');
}

#hungerBar{
    background-image: url('../assets/ui/hunger-bar-fill.png');
}

#staminaBar{
    background-image: url('../assets/ui/stamina-bar-fill.png');
}



#inventoryBar{
    float: left;
    clear: right;
    width: 300px;
    background-image: url('../assets/ui/inventory_bar.png');
}

#inventorySlots{
    margin: 0px;
    padding: 0px;
    height: 50px;
    float: left;
    clear: right;
}

#inventorySlots li{
    display: block;
    list-style-type: none;
    width: 50px;
    height: 50px;
    float: left;
    padding: 0px;
    margin: 0px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    background-repeat:no-repeat;
    background-position:center; 
}


/**WARNING, DIRTY CSS BELOW**/

#actionmenu, #inventoryactionmenu{
    position: absolute;
    margin:0px;
    padding:0px;
    z-index:120;
    top:200px;
    left:100px;
    width:140px;
    font-size: 12px;
    text-shadow: 1px 1px 1px black;
}
#actionmenu li, #inventoryactionmenu li{
    margin:0px !important;
    padding:0px !important;
    background: rgba(216, 177, 100, 0.5);
}
#actionmenu ul, #inventoryactionmenu ul{
    margin:0px;
    padding:0px;
}

#inventoryactionmenu{
    position: absolute;
    top:700px !important;
}


#actionmenu ul li.selected, #inventoryactionmenu ul li.selected{
    background-color: red;
}